#banner{
background: #C0C0C0;
padding-top:10px;
padding-bottom:10px;
border-bottom:2px solid;
font: 30px arial, sans-serif;
color: #3366CC;
text-align:left;
}

#banner_table{
width: 100%;
background: #C0C0C0;
padding-bottom:10px;
border-bottom:2px solid;
font: 30px arial, sans-serif;
color: #3366CC;
text-align:left;
}

#search_line form, #store form div{
    display:inline;
}

#search{
    width: 60%;
    margin-left: 10%;
}

#bannerimg{
float:left;
}
#columns{
background: #99CCFF;
}
#main{
margin-left:15em;
margin-right:15em;
padding-top:4ex;
padding-left:2em;
background:white;
}
#main_fill{
padding-top:4ex;
padding-left:2em;
background:white;
}

#side{
float:left;
padding-top:1em;
padding-left:1em;
padding-bottom:1em;
width:14em;
background: #99CCFF;
}

#east{
float:right;
padding-top:1em;
padding-left:1em;
padding-bottom:1em;
width:14em;
background: #99CCFF;
}

#sidea{
color: #000033;
font-size:20px;
}
h1{
font:150% sans-serif;
color: #226;
border-bottom:3px dotted #77d;
}

#banner_text{
    min-height: 10em;
    display: table-cell;
    display:inline;
    vertical-align: middle
}

#picture{
padding-left:10px;
padding-right:10px;
padding-top:10px;
padding-bottom:10px;
font: 16px arial, sans-serif;
text-align:center;
}

#picture_info{
width: 70%;
font: 18px arial, sans-serif;
text-align:left;
}

#categories{
padding-left:10px;
padding-right:10px;
padding-top:10px;
padding-bottom:10px;
font: 20px arial, sans-serif, bold;
text-align:left;
}

#auth{
width:300px;
font: 20px arial, sans-serif, bold;
text-align:right;
display:inline;
}

#category{
    padding-left:40px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;
}

