<h1>New pictures</h1>

<%
  image_count_per_line = 5
%>

<table>
  <tr>
    <%  line_count = 0 %>
    <%  for picture in @new_pics-%>

    <%  line_count = line_count + 1

        if (line_count - 1) % image_count_per_line == 0
          %><tr>
    <%  end %>

    <%=render(:partial=> "picture",:locals => {:picture => picture})%>

    <%  if line_count % image_count_per_line == 0
          %></tr>
    <%  end %>

    <%end%>
  </tr>
</table>



<h1>Most Popular Pictures</h1>

<table>
  <tr>
    <%  line_count = 0 %>
    <%  for picture in @most_popular_pics-%>

    <%  line_count = line_count + 1

        if (line_count - 1) % image_count_per_line == 0
          %><tr>
    <%  end %>

    <%=render(:partial=> "picture",:locals => {:picture => picture})%>
  
    <%  if line_count % image_count_per_line == 0
          %></tr>
    <%  end %>

    <%end%>
  </tr>
</table>


