<h1><%= @category.name %></h1>

<table>
  <tr>
    <%  line_count = 0 %>
    <%  for picture in @pictures-%>

    <%  line_count = line_count + 1

        if (line_count - 1) % 5 == 0
          %><tr>
    <%  end %>

    <td>
      <div id="picture">
        <%= link_to image_tag(picture.url), :action => 'show_picture', :id => picture %>
        <br>
        <%=h picture.name%> <br>
        <%=picture.rating%>
      </div>
    </td>

    <%  if line_count % 5 == 0
          %></tr>
    <%  end %>

    <%end%>
  </tr>
</table>


